@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --primary: 221 83% 53%;
    --primary-foreground: 210 20% 98%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 210 20% 98%;
    --primary: 221 83% 53%;
    --primary-foreground: 210 20% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 210 20% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 20% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
  section {
    @apply py-16 overflow-hidden;
  }
}

.section-title h2 {
  @apply text-4xl font-bold mb-4 text-foreground;
}

.section-title p {
  @apply text-lg text-muted-foreground;
}

.section-title {
  @apply pb-8 text-center;
}

.skills .progress {
  @apply h-14 flex flex-col justify-center;
}

.skills .progress .skill {
  @apply font-semibold;
  @apply flex justify-between p-0 m-0;
}

.skills .progress-bar-wrap {
  @apply bg-secondary h-2.5;
}

.skills .progress-bar {
  @apply bg-primary h-2.5;
}

.resume .resume-title {
  @apply text-2xl font-bold mt-5 mb-5 text-primary;
}

.resume .resume-item {
  @apply pl-6 pt-0 pb-5 border-l-2 border-primary relative;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  left: -9px;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid hsl(var(--primary));
  background: hsl(var(--background));
}

.resume .resume-item h4 {
  @apply text-lg font-bold;
}

.resume .resume-item h5 {
  @apply text-base font-semibold bg-secondary px-4 py-2 inline-block my-2;
}

.resume .resume-item em {
  @apply italic;
}

.resume .resume-item ul {
  @apply pl-5;
}

.resume .resume-item ul li {
  @apply pb-2;
}

.resume .resume-item:last-child {
  @apply pb-0;
}
